# Entorno virtual
venv/
.env
*.pyc
__pycache__/
uploads/
*.pyo
*.pyd
instance/agrogrid.db
# Archivos de configuración de PyCharm
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de base de datos locales



# Ignorar archivos de pruebas


#alembic.ini
#README
#script.py.mako
#1557e79fd3b2_recrear_tabla_orden_con_comprador_id_y_.py
#env.py
#poblar_viajes.py
#eliminar_viajes_por_definir.py
#poblar_coordenadas_cantones.py
#poblar_grafo_ors.py
#poblar_grafo_vecinos.py
#testingdb.py
#ver_bd_estructura.py
#ver_cantones_latlon.py













