# Entorno virtual
venv/
.env
*.pyc
__pycache__/
instance/
migrations/
uploads/
*.pyo
*.pyd

# Archivos de configuración de PyCharm
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos de base de datos locales
*.sqlite3


# Ignorar archivos de pruebas
test_db.py
test_eliminarbd.py
testingdb.py
cleandb.py

