# ===================================================================
# .gitignore para Proyecto Flask (AgroGrid)
# ===================================================================

# Entornos virtuales
.env
venv/
.venv/
ENV/

# Archivos de cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos locales
# La carpeta 'instance' es creada por Flask para la DB y configs locales.
instance/
*.db
*.sqlite3

# Archivos subidos por usuarios y contenido generado
/app/static/uploads/
/app/static/barplot_*.png

# Archivos de logs
*.log
logs/

# Configuraciones de IDE y editores
.idea/
.vscode/
*.swp
*~

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Reportes de tests y cobertura
.coverage
htmlcov/
.pytest_cache/
README.md

